{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<h1 class="title">{{.Title}}</h1>

{{ if .Params.link }}
<section class="info">
  <ul>
    <li><a href="{{ .Params.link }}"><img src="https://img.shields.io/badge/Source-Gitlab-orange.svg?logo=gitlab"></img></a>
    </li>
    <li><a href="https://hub.docker.com/r/pipelinecomponents/{{ .Params.anchor }}/"><img src="https://img.shields.io/microbadger/image-size/pipelinecomponents/{{ .Params.anchor }}.svg"></a>
    </li>
    {{ if .Params.dockerimage }}
    <li>
      <img src="https://img.shields.io/microbadger/image-size/_%2F{{ index (split .Params.dockerimage ":") 0  }}/{{ index (split .Params.dockerimage ":") 1 }}.svg?label=Base+image+size">
    </li>
    {{ end }}
  </ul>
  <div class="info-content">Based on {{ .Params.dockerimage }}</div>
</section>
{{ end }}

<div class="content {{if .Site.Params.enable_anchor_link}}{{ "anchor-link-enabled" }}{{ end }}">
  {{.Content}}
</div>
</div>
{{ end }}
